.menu__link{
    text-decoration: none;
    color: var(--color_texto_grisClaro);
    font-weight: 500;
}

.menu__link.contactoMenu{
    font-weight: bold;
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 320px) {
    
}