.experiencia__boton{
    color: var(--color_texto_azul);
    background-color: var(--fondo_principal);
    border: 1px solid var(--color_texto_azul);
    width: 115%;
    height: 50px;
    transition: 0.2s;
}

.experiencia__boton--azul{
    color: var(--fondo_principal);
    background-color: var(--color_texto_azul);
    border: 1px solid var(--color_texto_azul);
    width: 130%;
    height: 50px;
    transition: 0.2s;
}

.experiencia__boton:hover,
.experiencia__boton--azul:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 768px){
    .experiencia__boton{
        margin-right: 2rem;
        width: 100%;
    }

    .experiencia__boton--azul{
        margin-left: 1rem;
    }
}