.experiencia__boton{
    color: var(--color_texto_azul);
    background-color: var(--fondo_principal);
    border: 1px solid var(--color_texto_azul);
    width: 115%;
    height: 50px;
}

.experiencia__boton--azul{
    color: var(--fondo_principal);
    background-color: var(--color_texto_azul);
    border: 1px solid var(--color_texto_azul);
    width: 130%;
    height: 50px;
}

@media screen and (max-width: 768px){
    .experiencia__boton{
        margin-right: 2rem;
        width: 100%;
    }

    .experiencia__boton--azul{
        margin-left: 1rem;
    }
}

@media screen and (max-width: 320px) {
    
}