.experiencia__descripcion{
    color: var(--color_texto_grisClaro);
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 768px){
    .experiencia__descripcion{
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    
}