.experiencia__proyecto{
    font-weight: bold;
    font-size: 16px;
    color: var(--color_texto_grisClaro);
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px){
    .experiencia__proyecto{
        font-size: 22px;
    }
}