.experiencia__box{
    display: flex;
    margin: 0 2rem;
    align-items: center;
}

@media screen and (max-width: 768px){
    .experiencia__box{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    
}