.bio{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
}

@media screen and (min-width: 0px) {
    .bio{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

@media screen and (min-width: 768px){
    .bio{
        flex-direction: row;
        align-items: center;
    }
}