.bio{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 2rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .bio{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 97%;
        margin-right: 0.5rem;
    }
}