.hobbies__boxes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px){
    .hobbies__boxes{
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px) {
    .hobbies__boxes{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}