.sobre__descripcion{
    color: var(--color_texto_grisClaro);
    margin-bottom: 1.5rem;
    width: 73%;
}

@media screen and (max-width: 768px){
    .sobre__descripcion{
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    
}