.sobre__titulo{
    font-weight: bold;
    font-size: 22px;
    color: var(--color_texto_grisClaro);
    margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
    .sobre__titulo{
        font-size: 32px;
    }
}