.sobre__titulo{
    font-weight: bold;
    font-size: 32px;
    color: var(--color_texto_grisClaro);
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px){
    .sobre__titulo{
        font-size: 22px;
    }
}

@media screen and (max-width: 320px) {
    
}