.formacion__item__img{
    height: 118px;
    width: 296px;
    background-color: white;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .formacion__item__img{
        height: 118px;
        width: 224px;
    }
}

@media screen and (min-width: 1024px){
    .formacion__item__img{
        height: 368px;
        width: 286px;
    }
}