.contacto{
    display: flex;
    justify-content: center;
    background-color: var(--fondo_secundario);
    padding: 4rem 2rem;
}

@media screen and (max-width: 768px){
    .contacto{
        padding: 2rem 0;
    }
}

@media screen and (max-width: 320px) {
    
}